/*

Colors:
Dark Bg purple #2D1A40
Light Bg purple #9857F2
Light lavender text #E1D7FE
Light Neon Green #3DF26A
Dark Shade of Neon green #4AD96D
  */
body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #9857F2;
}

a {
    text-decoration: none;
    color: #E1D7FE;
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
    background-color:  #9857F2;
    border-radius: 0 0 25px 25px;
}

.logo {
    flex: 2;
    padding-left: 3rem;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2D1A40;
    font-weight: 900;

}
.link-container {
    flex:1;
    text-align: center;
    display: flex;
    gap: 3rem;

}

.nav ul {

    margin-right: 2rem;
}

.link-item {
    padding: 0 0rem;
    font-size: large;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;

}

.link-item a{
    transition: color 0.2s, font-size 0.2s;
    transition-timing-function: ease-in-out;
}

.link-item a:hover {
    color: #4AD96D ;
    font-size: 1.3rem;
}

.header{
    padding: 2rem 10rem 2rem;
    display:flex;
    background-color: #9857F2;
    justify-content: space-between;
}

.header-content{
    flex:1;
    padding: 1rem 5rem;
    color: #E1D7FE;
    font-size: large;
}

.header-content h2{
    color: #eee8ff;
    font-size: 2rem;
    margin: 2rem auto 0.5rem;
}

.header-content p{
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    padding-right: 12rem;
}

.header-img{
    flex:1;
    padding: 1rem 1rem 1rem 0rem;
}
.header-img img{
    border-radius: 30px;

}
.header-content button{
    margin : 1rem auto;
    font-size: medium;
    color: #9857F2;
    padding: 0.5rem 2.5rem;
    background-color: #3DF26A;
    border-radius: 25px;
    border: 5px solid #E1D7FE;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s, border 0.2s,box-shadow 0.2s;
    transition-timing-function: ease-in-out;

}

.header-content button:hover{
    background-color: #9857F2;
    color: #3DF26A;
    border: 5px solid #3DF26A;
    -webkit-box-shadow:0px 0px 100px 10px rgba(61,242,106,0.9);
    -moz-box-shadow: 0px 0px 100px 10px rgba(61,242,106,0.9);
    box-shadow: 0px 0px 100px 10px rgba(61,242,106,0.9);

}

.header-content button:active{
    background-color: #3DF26A;
    color: #9857F2;

}

.second {
    background-color: #3DF26A;
    padding: 1rem 0 5rem;
}

.second-head {
    font-size: 2rem;
    font-weight:bolder;
    text-align: center; 
    padding: 2rem 0rem 0rem;
    color: #9857F2;
}
.info-container{
    padding: 2rem 10rem;
    display: flex;
    justify-content: space-between;
    gap:4em;
}

.info-item {
    flex:1;
    color: #ac79f5;
    font-size: large;
    text-align:center;
    border-radius: 10px;
    padding: 2rem 2rem;
    transition: background-color 0.2s, flex 0.3s;
    transition-timing-function: ease-in-out;

}
.info-item:hover{
    background-color: rgb(58, 249, 134);
    flex:1.5;
}
.info-item img{
    margin: 0 -1rem;
    border-radius: 30px;
    padding: 1rem;
}

.quote {
    background-color: #E1D7FE;
    padding: 10rem 25rem;
}

.quote p {
    font-size: 1.75rem;
    font-weight: 100;
    text-align: center;
    color: #2D1A40;
}

#q {
    font-size: 2rem;
    font-weight: 800;
    color: #9857F2;
    padding-left: 30rem;
}

.cta {
    padding: 3rem 5rem;
    background: #ebe5ff;
}

.cta-container {
    background-color: #3DF26A;
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    border-radius: 15px;
    align-items: center;

}

.cta-head{
    color: #9857F2;
    font-weight: 800;
    font-size: 1.5rem;
}
.cta-sub {
    color: #a46af5;
    font-size: 1rem;
}

.cta span {
    background-color: #9857F2;
    border-radius: 25px;
    padding: 1rem 3.5rem;
    font-size:1.5rem;
    border: 5px solid #E1D7FE;
    color: #E1D7FE;
    transition: background-color 0.2s, color 0.2s, border 0.2s, box-shadow 0.2s;
    transition-timing-function: ease-in-out;

}

.cta span:hover {
    background-color: #E1D7FE;
    border: 5px solid #9857F2;
    color:#9857F2;
    -webkit-box-shadow:0px 0px 80px 5px #9857F2;
    -moz-box-shadow: 0px 0px 80px 5px  #9857F2;
    box-shadow: 0px 0px 80px 5px  #9857F2;
}

.footer{
    background-color: #9857F2;
    text-align: center;
    font-size: 1rem;
}
.footer p {
    color:#E1D7FE;
    padding: 1.5rem;
    margin: 0;
}

.kan {
    transition: font-size 0.2s, color 0.2s;
    transition-timing-function: ease-in-out;

}

.kan:hover {
    color: #e2dafb;
    font-size: 1.51rem;

}