body {
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f6b092;
}

a {
    text-decoration: none;
    color: rgb(71, 71, 71);
}

.nav {
    display: flex;
    align-items: center;
    padding: 1rem 10rem;
    background-color:  #ff9669;
    border-radius: 0 0 25px 25px;
}

.logo {
    flex: 2;
    padding-left: 3rem;
    font-size: 2.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #377d5e;
    font-weight: 900;

}
.link-container {
    flex:1;
    text-align: center;
    display: flex;
    gap: 3rem;

}

.nav ul {

    margin-right: 2rem;
}

.link-item {
    padding: 0 0rem;
    font-size: large;
    list-style: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 300;
}

.link-item a:hover {
    color: rgb(179, 255, 194);
    border-radius: 5px;
}

.header{
    padding: 2rem 10rem 2rem;
    display:flex;
    background-color: #f6b092;
    justify-content: space-between;
}

.header-content{
    flex:1;
    padding: 1rem 5rem;
    color: rgb(22, 22, 24);
    font-size: large;
}

.header-content h2{

    color: rgb(0, 110, 92);
    font-size: 2rem;
    margin: 2rem auto 0.5rem;
}

.header-content p{
    font-size: 1.25rem;
    margin: 0 auto 1rem;
    padding-right: 12rem;
}

.header-img{
    flex:1;
    padding: 1rem 1rem 1rem 0rem;
}
.header-img img{
    border-radius: 30px;

}
.header-content button{
    font-size: medium;
    color: white;
    padding: 0.5rem 2.5rem;
    background-color: rgb(84, 130, 248);
    border-radius: 25px;
    border: 0px;
}

.header-content button:hover{
    background-color: rgb(40, 40, 66);
}

.header-content button:active{
    background-color: rgb(14, 14, 18);
}

.second {
    background-color: rgb(179, 255, 194);
    padding: 1rem 0 5rem;
}

.second-head {
    font-size: 2rem;
    font-weight:bolder;
    text-align: center; 
    padding: 2rem 0rem 0rem;
    color: rgb(112, 142, 233);
}
.info-container{
    padding: 2rem 17rem;
    display: flex;
    justify-content: space-between;
    gap:3em;
}

.info-item {
    flex:1;
    color: rgb(22, 22, 24);
    font-size: large;
    text-align: center;
    border-radius: 10px;

}
.info-item:hover{
    background-color: rgb(58, 249, 134);
}
.info-item img{
    border-radius: 30px;
    padding: 1rem;
}

.quote {
    background-color: rgb(231, 250, 231);
    padding: 10rem 25rem;
}

.quote p {
    font-size: 1.75rem;
    font-weight: 100;
    text-align: center;
    color: rgb(0, 110, 92);
}

#q {
    font-size: 2rem;
    font-weight: 800;
    color: rgb(85, 108, 175);
    padding-left: 30rem;
}

.cta {
    padding: 3rem 5rem;
    background: white;
}

.cta-container {
    background-color: rgb(2, 255, 116);
    padding: 2rem 5rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    border-radius: 15px;
    align-items: center;

}

.cta-head{
    color: rgb(131, 48, 255);
    font-weight: 800;
    font-size: 1.5rem;
}
.cta-sub {
    color: rgb(157, 99, 245);
    font-size: 1rem;
}

.cta span {
    background-color: rgb(157, 99, 245);
    border-radius: 25px;
    padding: 1rem 3.5rem;
    font-size:1.5rem;
    border: 5px solid rgb(230, 172, 248);
    color: white;
}

.cta span:hover {
    background-color: rgb(123, 78, 190);
    border: 5px solid rgb(235, 204, 244);


}
